.footer {
  .widget h5 {
    margin-bottom: 20px;
  }

  a {
    color: $color-secondary;
  }
}

.footer-big {
  color: $color-body-text;
  padding: 30px 0 18px;
  text-align: center;

  ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;

    li {
      a {
        display: inline-block;
        position: relative;
        padding: 5px 0;
        border-radius: 3px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          text-decoration: none;
        }
      }
      .btn {
        margin: 0;
      }
    }
  }

  p {
    color: $color-body-text;
  }

  .footer-menu li {
    display: inline-block;
    a {
      padding: 15px;
    }
  }
  .copyright {
    padding: 15px 0;
  }

  .content {
    text-align: left;
  }

  hr {
    margin-top: 10px;
  }
}

footer.footer {
  background: #fff;
  &.footer-black {
    background: #323437;
    a {
      opacity: 0.86;
      color: #fff;
      &:hover, &:focus {
        opacity: 1;
      }
    }
    h5, h4, i, .copyright {
      color: #fff;
    }
    hr {
      border-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.hestia-bottom-footer-content {
  position: relative;
}

.hestia-center {
  width: 100%;
  text-align: center;
}

.footer-big .footer-menu li a[href*="mailto:"],
.footer-big .footer-menu li a[href*="tel:"] {
  color: transparent;
  padding: 10px;

  &:before {
    color: #fff;
    font-family: 'FontAwesome';
  }

  &:hover:before {
    color: #999;
  }
}

.footer-big .footer-menu li a[href*="mailto:"] {
  &:before {
    content: '\f0e0';
  }
}

.footer-big .footer-menu li a[href*="tel:"] {
  &:before {
    content: '\f095';
  }
}

// Generate for each social network specific buttons code
@each $current-social in $social-networks {
  $i: index($social-networks, $current-social);
  @include footer-menu-social-icons($current-social, nth($social-networks-colors, $i), nth($social-networks-icons, $i));
}

.hestia-scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 999;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  background-color: #999999;
  -webkit-box-shadow: none;
  box-shadow: none;

  &:hover {
    background-color: #999999;
    -webkit-box-shadow: 0 14px 26px -12px rgba(49, 49, 49, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(49, 49, 49, 0.42);
    box-shadow: 0 14px 26px -12px rgba(49, 49, 49, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(49, 49, 49, 0.2);
  }

  &:focus {
    background-color: #999999;
    -webkit-box-shadow: 0 14px 26px -12px rgba(49, 49, 49, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(49, 49, 49, 0.42);
    box-shadow: 0 14px 26px -12px rgba(49, 49, 49, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(49, 49, 49, 0.2);
  }
}

.hestia-fade {
  opacity: 1;
}